<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search scoped=settings.scoped_kb_search submit=false}}
    </div>
  </nav>

  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
      
        <h1 style="text-align:center;">{{category.name}}</h1>
      
      </header>

      <section class="section knowledge-base">
        <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
        <section class="categories blocks">
            <ul class="blocks-list">
                {{#each sections}}                   
                  <li class="blocks-item">
                      <a href='{{url}}' class="blocks-item-link">
                        {{#is id 13919539673105}}<img class="category-page-images" src="{{asset 'appliances.png'}}" />
                        {{/is}}
                        {{#is id 13919512623377}}<img class="category-page-images" src="{{asset 'container.png'}}" />
                        {{/is}}
                        <span class="blocks-item-title">                                    
                            <h2>{{name}}</h2>
                        </span>
                        <span class="blocks-item-description">{{excerpt description}}</span>
                      </a>
                  </li>                                     
                {{/each}}
            </ul>           
        </section>
    </div>
  </div>
</div>
</div>
