<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    <!--{{breadcrumbs}}-->
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
        class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search scoped=settings.scoped_kb_search submit=false}}
    </div>
  </nav>

<div class="sidenav">
            <ul>
                {{#each categories}}
                    
                        <li class="sidenav-item">
                            
                            <a href='{{ url }}' class="blocks-item-link">
                               
                                <span class="sidenav-item-title-category">

                                    <h4>{{ name }}</h4>
                                </span>
                                  
                            </a>
                              {{#each sections}}
                              <a href='{{ url }}' class="blocks-item-link">
                                <span class="sidenav-item-title-section">

                                    <h3>{{ name }}</h3>
                                </span>
                                </a>
                                {{/each}}
                        </li>
                        {{/each}}
                        </ul>
                        </div>
                        
  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h1 style="text-align:center;">{{category.name}}</h1>
        {{#is category.id 9979381707153}}
          <div class="container" style="width: 100%;">
            <div class="notification-admonition">
              <h3>Support Hours</h3>
              <p>Generally Monday to Friday and from 09:00 - 17:00 UK time only (and
                does not include Public Bank Holidays). Internally someone is around
                from 8am until midnight.</p>
            </div>
          </div>
        {{/is}}
      </header>


<style>
    body {
        background: 
            url({{asset 'Backgroundecho-Jadecopy3.png'}}) 50% -15% no-repeat,
            url({{asset 'Backgroundecho-Orangecopy5.png'}}) 50% 140% no-repeat;
        background-size: 
            100% 55%, /* Size for the first image */
            100% 55%; /* Size for the second image */
    }
</style>



      <section class="section knowledge-base">
        <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
        <section class="categories blocks">
          <ul class="blocks-list">
            {{#each sections}}
              <li class="blocks-item">
                <div class="inner-border">
                <a href='{{url}}' class="blocks-item-link">
                  {{#is id 13919539673105}}<img class="category-page-images" src="{{asset 'appliances.png'}}" />
                  {{/is}}
                  {{#is id 13919512623377}}<img class="category-page-images" src="{{asset 'container.png'}}" />
                  {{/is}}
                  <span class="blocks-item-title">
                    <h2>{{name}}</h2>
                  </span>
                  <span class="blocks-item-description">{{excerpt description}}</span>
                </a>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
    </div>
  </div>
</div>
</div>