<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
    <div class="hero-inner">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
            <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
            <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
        </svg>
        {{ search submit=false instant=settings.instant_search class='search search-full' }}
    </div>
</section>

<div class="container">
    <section class="section knowledge-base">
        <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
        <h2 style="text-align:center">Welcome To Our New Customer Portal!</h2>
        <p style="text-align:center">The portal provides you with access to the appliance downloads, knowledge base and FAQs so that you can stay up-to-date. Our full documentation is available here but you can also search for specific keywords in the search above and it will search the documentation.
If you don't find the answer you are looking for, you can raise a ticket with us and we will be more than happy to help.

Our <a href="https://status.speechmatics.com">status page</a> is now live! This means you can now subscribe to updates for maintenance and service affecting issues.</p>
        <section class="categories blocks">
            <ul class="blocks-list">
                {{#each categories}}
                    {{#if ../has_multiple_categories}}
                        <li class="blocks-item">
                            <a href='{{url}}' class="blocks-item-link">
                                {{#is id 7251709213329}}<img class="" src="{{asset 'downloads.png'}}"/>
                                    {{/is}}
                                 {{#is id 4419675487889}}<img class="" src="{{asset 'questions.png'}}"/>
                                    {{/is}}
                                <span class="blocks-item-title"> 
                                    
                                  <h2> {{name}}</h2> 
                                </span>
                                <span class="blocks-item-description">{{excerpt description}}</span>
                            </a>
                        </li>
                    {{ else }}
                        {{#each sections}}
                            <li class="blocks-item">
                                <a href='{{url}}' class="blocks-item-link">
                                    
                                    <span class="blocks-item-title">
                                      {{name}}
                                    </span>
                                    <span class="blocks-item-description">{{ excerpt description }}</span>
                                </a>
                            </li>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </ul>
            {{ pagination }}
        </section>

        <section class="articles">
            <h1>{{ 'New Releases' }}</h1>

            {{!RTVA}}

            {{#each categories}}
                {{#each sections}}
                    <section class="categories blocks">
                        <ul class="blocks-list">
                            {{#each sections}}
                                {{#is id 7251718438289}}
                                    <li class="blocks-item">
                                        {{#each articles}}
                                            {{#if promoted}}
                                                <a href="{{ url }}" class="blocks-item-link">
                                                {{/if}}
                                            {{/each}}
                                            <span class="blocks-item-title">
                                                <h2> {{ name }} </h2>
                                            </span>
                                            <span class="blocks-item-description">
                                                {{#each articles}}
                                                    {{#if promoted}}
                                                        <h3> {{ title }} </h3>
                                                    {{/if}}
                                                {{/each}}
                                            </span>
                                        </a>
                                    </li>
                                {{/is}}
                            </ul>
                        </section>
                    {{/each}}
                {{/each}}
            {{/each}}




            {{!BVA }}

            {{#each categories}}
                {{#each sections}}
                    {{#each sections}}
                        {{#is id 7251702265873}}
                            <section class="categories blocks">
                                <ul class="blocks-list">
                                    <li class="blocks-item">
                                        {{#each articles}}
                                            {{#if promoted}}
                                                <a href="{{ url }}" class="blocks-item-link">
                                            {{/if}}
                                        {{/each}}
                                            <span class="blocks-item-title"> {{ name }} </span>
                                            <span class="blocks-item-description">
                                                {{#each articles}}
                                                    {{#if promoted}}
                                                        {{ title }}
                                                    {{/if}}
                                                {{/each}}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        {{/is}}
                    {{/each}}
                {{/each}}
            {{/each}}




            {{!--BC 

            {{#each categories}}
                {{#each sections}}
                    {{#each sections}}
                        {{#is id 7251686780049}}
                            {{ name }}
                            {{#each articles}}
                                {{#if promoted}}
                                    <ul class="article-list promoted-articles">
                                        <li class="promoted-articles-item">
                                            <a href="{{ url }}">
                                                {{ title }}

                                            </a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            {{/is}}
                        {{/each}}
                    {{/each}}
                {{/each}}
            </ul>

            --}}

            {{!RTC }}

            {{#each categories}}
                {{#each sections}}
                    {{#each sections}}
                        {{#is id 7251718480785}}
                            <section class="categories blocks">
                                <ul class="blocks-list">
                                    <li class="blocks-item">
                                        {{#each articles}}
                                            {{#if promoted}}
                                                <a href="{{ url }}" class="blocks-item-link">
                                            {{/if}}
                                        {{/each}}
                                            <span class="blocks-item-title"> {{ name }} </span>
                                            <span class="blocks-item-description">
                                                {{#each articles}}
                                                    {{#if promoted}}
                                                        {{ title }}
                                                    {{/if}}
                                                {{/each}}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        {{/is}}
                    {{/each}}
                {{/each}}
            {{/each}}

            {{!--LiD

            {{#each categories}}
                {{#each sections}}
                    {{#each sections}}
                        {{#is id 7402921292049}}
                            {{ name }}
                            {{#each articles}}
                                {{#if promoted}}
                                    <ul class="article-list promoted-articles">
                                        <li class="promoted-articles-item">
                                            <a href="{{ url }}">
                                                {{ title }}

                                            </a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            {{/is}}
                        {{/each}}
                    {{/each}}
                {{/each}}
            </ul>

            --}}

            {{!--GPU Inference

            {{#each categories}}
                {{#each sections}}
                    {{#each sections}}
                        {{#is id 14280571789329}}
                            {{ name }}
                            {{#each articles}}
                                {{#if promoted}}
                                    <ul class="article-list promoted-articles">
                                        <li class="promoted-articles-item">
                                            <a href="{{ url }}">
                                                {{ title }}

                                            </a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            {{/is}}
                        {{/each}}
                    {{/each}}
                {{/each}}
            </ul>

            --}}

        </section>
    </section>


</div>
