<div class="container-divider"></div>
<div class="team-container">
   <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search scoped=settings.scoped_kb_search submit=false}}
    </div>
  </nav>

  <div class="profile-container">
    <section id="main-content" class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
        
      </header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h2 style="text-align:center">Meet the Team</h2>

<div class="card">
  
  <img class="profile-image" src="{{asset 'steve.jpg'}}" alt="Steve" >
  
  <h1>Steve Fellowes</h1>
  <p class="title">Customer Support Manager</p>
  <p>UK Team</p>
  <div style="margin: 24px 0;">
    <a href="stevef@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div>
  <p><button>Contact</button></p>
</div>

<div class="card">
  
  <img class="profile-image" src="{{asset 'Chris-image.png'}}" alt="Chris" >
  
  <h1>Chris Freedman</h1>
  <p class="title">2nd Line Support Engineer</p>
  <p>UK Team</p>
  <div style="margin: 24px 0;">
    <a href="chrisf@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div>
  <p><button>Contact</button></p>
</div>

<div class="card">

  <img class="profile-image" src="{{asset 'Tania.jpg'}}" alt="Tania">

  <h1>Tania King</h1>
  <p class="title">Senior Support Technician</p>
  <p>UK Team</p>
  <div style="margin: 24px 0;">
    <a href="taniak@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div>
  <p><button>Contact</button></p>
</div>

<div class="card" style="line-height: 1.12;">
  <img class="profile-image" src="{{asset 'Shayan.jpg'}}" alt="Shayan" style="height: 295px;">
  <h1>Shayan <br> Bhattacharya</h1>
  <p class="title">1st Line Technician</p>
  <p>US Team</p>
  <div style="margin: 24px 0;">
    <a href="shayanb@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div>
  <p><button>Contact</button></p>
</div>

<div class="card">
  <img class="profile-image" src="{{asset 'Lisha.png'}}" alt="Lisha">
  <h1>Lisha Kuinkel</h1>
  <p class="title">1st Line Technician</p>
  <p>US Team</p>
  <div style="margin: 24px 0;">
    <a href="lishak@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div>
  <p><button>Contact</button></p>
</div>