<div class="team-container">

<span class="note">
  <h3>Support Hours</h3>
  <p>Generally Monday to Friday and from 09:00 - 17:00 UK time only (and does not include Public Bank Holidays). Internally someone is around from 8am until midnight.</p>

</span>

<h2 style="text-align:center">Meet the Team</h2>

<div class="card">
  
  <img class="profile-image" src="{{asset 'steve.jpg'}}" alt="Steve" >
  
  <h2>Steve <br> Fellowes</h2>
  <p class="title">Customer Support Manager</p>
  <p>UK Team</p>
  <!-- <div style="margin: 24px 0;">
    <a href="stevef@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div> -->
  <a href="https://teams.microsoft.com/l/chat/0/0?users=stevef@speechmatics.com" target="_blank"><button>Contact</button></a>
</div>


<div class="card">

  <img class="profile-image" src="{{asset 'Tania.jpg'}}" alt="Tania">

  <h2>Tania <br> King</h2>
  <p class="title">Senior Support Technician</p>
  <p>UK Team</p>
  <!-- <div style="margin: 24px 0;">
    <a href="taniak@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div> -->
  <a href="https://teams.microsoft.com/l/chat/0/0?users=taniak@speechmatics.com" target="_blank"><button>Contact</button></a>
</div>



<div class="card">
  
  <img class="profile-image" src="{{asset 'Chris-image.png'}}" alt="Chris" >
  
  <h2>Chris <br> Freedman</h2>
  <p class="title">2nd Line Support Engineer</p>
  <p>UK Team</p>
  <!--<div style="margin: 24px 0;">
    <a href="chrisf@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div> -->
  <a href="https://teams.microsoft.com/l/chat/0/0?users=chrisf@speechmatics.com" target="_blank"><button>Contact</button></a>
</div>


<div class="card">

  <img class="profile-image" src="{{asset 'Michael.jpg'}}" alt="Michael">

  <h2>Michael <br> Matthews</h2>
  <p class="title">1st Line Support Technician</p>
  <p>UK Team</p>
  <!--<div style="margin: 24px 0;">
    <a href="michaelm@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div> -->
  <a href="https://teams.microsoft.com/l/chat/0/0?users=michaelm@speechmatics.com" target="_blank"><button>Contact</button></a>
</div>


<div class="card">
  <img class="profile-image" src="{{asset 'Shayan.jpg'}}" alt="Shayan">
  <h2>Shayan <br> Bhattacharya</h2>
  <p class="title">1st Line Technician</p>
  <p>US Team</p>
  <!-- <div style="margin: 24px 0;">
    <a href="shayanb@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div> -->
  <a href="https://teams.microsoft.com/l/chat/0/0?users=shayanb@speechmatics.com" target="_blank"><button>Contact</button></a>
</div>

<div class="card">
  <img class="profile-image" src="{{asset 'Lisha.png'}}" alt="Lisha">
  <h2>Lisha <br> Kuinkel</h2>
  <p class="title">1st Line Technician</p>
  <p>US Team</p>
  <!-- <div style="margin: 24px 0;">
    <a href="lishak@speechmatics.com"><i class="icon-email"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
     
  </div> -->
  <a href="https://teams.microsoft.com/l/chat/0/0?users=lishak@speechmatics.com" target="_blank"><button>Contact</button></a>
</div>
